body
{
  margin:0;
  padding:0;
  background: url(login.jpg);
  background-size: auto;
  background-position: cover;
  font-family: helvetica;
}
.reg{
 padding: 70px 30px;
 width: 320px;
 
 box-shadow: 0 0 10px #000;
 background: #000;
 backdrop-filter: blur(100px);
 color: #fff;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-family: helvetica;
  font-size: 22px;
}
.reg p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;

}
.reg input{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
}
.reg input[type="text"],input[type="password"]:active
{
  color: #fff;
}
.reg input[type="text"],input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 20px;
  color: #fff;
  font-size: 14px;
}
.reg input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
}
.reg input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.reg a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.reg a:hover{
  color: #fff;
}